* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

:root{
  --text-color: #FFFFFF;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color-dark-mode: rgba(255, 255, 255, 0.05);
  --surface-color-dark-mode-hover: rgba(0, 0, 0, 0.03);
  --highlight-color-dark-mode: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color-light-mode: rgba(0, 0, 0, 0.05);
  --surface-color-light-mode-hover: rgba(0, 0, 0, 0.02);
  --highlight-color-light-mode: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

.container {
  /*LARGURA */
  width: 100%;
  max-width: 500px;

  margin: 56px auto 0px;
  padding: 0 24px;
}

.profile {
  padding: 24px;
  text-align: center;
}
.profile img {
  height: 112px;
}

.profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

.switch {
  position: relative;

  width: 64px;

  margin: 4px auto;
}

.switch button {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  background: #FFFFFF var(--switch-bg-url) no-repeat center;
  
  width: 32px;
  height: 32px;

  border: 0;
  border-radius: 50%;

  transform: translatey(-50%);

  animation: slide-out .2s;
}

.light .switch button{
  animation: slide-in 0.4s forwards;

}

.switch button:hover {
  outline: 8px solid var(--highlight-color-dark-mode);
}

.switch span {
  display: block;

  width: 64px;
  height: 24px;

  border: 1px solid var(--stroke-color);
  border-radius: 9999px;

  background: var(--surface-color-dark-mode);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); 
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style: none;

  padding: 24px 0;
}

.links ul li a {
  text-decoration: none;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color-dark-mode);
  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-dark-mode-hover);
  border: 1.5px solid var(--text-color);
}

.social {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  border-radius: 50%;
  transition: background 0.2;
}

.social a:hover {
  background: var(--highlight-color-dark-mode);
}

.footer{
  padding: 24px 0;
  
  text-align: center;
  font-size: 14px;
  
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}